# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# for when writing code
*.sw*

# Binary files that we don't want to see
examples/mpu_data
examples/mpu_opengl_cube
examples/pong
examples/random_bytes
examples/rgb_led_driver
